@font-face {
  font-family: "DungGeunMo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

body {
  background-image: url(./img/bg.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
